{% extends 'template/base.html' %}

{% block body_block %}

{% load static %}

<div class="jumbotron">
  <h1>Welcome to homepage</h1>

</div>
<div class="container">

  <img src="{% static 'images/Bardia.jpg' %}" alt="no picture found">

  {% if items %}
  <table>
    <thead>
      <th>UserName</th>
      <th>Email</th>
    </thead>
    <tr>
      {% for i in items %}
      <td>{{ i.username }}</td>
      <td>{{ i.email }}</td>
      {% endfor %}
    </tr>
  </table>
  {% else %}
  <p>no table created yet</p>
  {% endif %}

</div>

{% endblock %}
